@page "/beer"

@using ModelLibrary
@using BusinessLogic
@using BusinessLogic.Interfaces
@using System.Linq.Expressions

@inject IBeerLogic beerl
@inject IBeerGroupLogic groupl
@inject IRatingLogic ratingl
@inject IBeerLoverLogic beerloverl
@inject IBreweryLogic breweryl

<PageTitle>Beer</PageTitle>

<h1>Beer with best ratings</h1>
<div class="flex-row">

    <div class="flex-col">
        @foreach (var beer in _allbeer)
        {
            <div
                style="display: overflow-y: auto; border: 2px solid #3498db; border-radius: 8px; background-color: #ecf023; padding: 20px; margin: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; text-align: center; line-height: 1.5;">
                <p>@beer.BeerName</p>
                @if (beer.BeerImage != null) {
                    <img height="200" width = "250" src="data:image/jpeg;base64,@(Convert.ToBase64String(beer.BeerImage))" alt="Beer Image" />
                 }
                <p>@beer.BeerType </p>
                <p>@beer.Description </p>
                <p>@beer.LagerSubType</p>
                <p>@beer.Brewery</p>
                <button type="button" @onclick="(e) => DeleteBeer(beer)" class="btn btn-primary">Delete</button>
            </div>
        }
        <div class="flex-col">
            @foreach (var beerLover in _allBeerLovers)
            {
                <div
                    style="display: overflow-y: auto; border: 2px solid #3498db; border-radius: 8px; background-color: #ecb0f1; padding: 20px; margin: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; text-align: center; line-height: 1.5;">
                    <p>@beerLover.BeerLoverID </p>
                    <p>@beerLover.BeerLoverName </p>
                    <p>@beerLover.BeerLoverEmail </p>
                    <p>@beerLover.BeerGroups </p>
                    <p>@beerLover.Ratings</p>
                </div>
            }
        </div>
        <div class="flex-col">
            @foreach (var beergroup in _allGroups)
            {
                <div
                    style="display: overflow-y: auto; border: 2px solid #3498db; border-radius: 8px; background-color: #aaadf1; padding: 20px; margin: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; text-align: center; line-height: 1.5;">
                    <p>@beergroup.BeerGroupID </p>
                    <p>@beergroup.GroupName</p>

                </div>
            }
        </div>
        <div class="flex-col">
            @foreach (var brewery in _allBreweries)
            {
                <div
                    style="display: overflow-y: auto; border: 2px solid #3498db; border-radius: 8px; background-color: #bff0f1; padding: 20px; margin: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; text-align: center; line-height: 1.5;">
                    <p>@brewery.BreweryID </p>
                    <p>@brewery.BreweryName</p>
                    <p>@brewery.BreweryAddress</p>
                    <p>@brewery.Country</p>

                </div>
            }
        </div>
    </div>
</div>


@code {

    private readonly List<BeerModel> _allbeer = new();
    readonly List<BeerLoverModel> _allBeerLovers = new();
    readonly List<BeerGroupModel> _allGroups = new();
    readonly List<BreweryModel> _allBreweries = new();


    public async Task DeleteBeer(BeerModel beer){
    await beerl.Delete(beer);
    _allbeer.Remove(beer); // Remove the deleted beer from the list
}


    protected override async Task OnInitializedAsync()
    {
        _allBeerLovers.AddRange(await beerloverl.GetAll());
        _allbeer.AddRange(await beerl.GetAll());
        _allGroups.AddRange(await groupl.GetAll());
        _allBreweries.AddRange(await breweryl.GetAll());
    }
}